

.element-style {
    width: 30px;
}

.nav-flex {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-flex__item {
    margin: 1rem;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-flex__item li {
    margin: 1rem;
}

.search-bar {
    margin: 1rem;
    display: flex;
    list-style-type: none;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    padding-left: 500px;
}

.banner-image {
    position: relative;
    margin: 1rem;
    display: grid; 
    list-style-type: none;
    align-items: center;
    height: 50%;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0), black)
}

.banner-image img {
    justify-content: center;
    background-size: cover;
    max-width: 75%;
    max-height: 100%;
    margin-left: 175px;
}

.banner-image h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white
}

.top-words {
    position: absolute;
    top: 8px;
    left: 16px;
}

.bottom-words {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* linear-gradient(90deg, black, transparent, black) */