

.element-style {
    width: 30px;
}

.nav-flex {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-flex__item {
    margin: 1rem;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.nav-flex__item li {
    margin: 1rem;
}

.search-bar {
    margin: 1rem;
    display: flex;
    list-style-type: none;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    padding-left: 500px;
}

.banner-image {
    position: relative;
    margin: 1rem;
    display: grid; 
    list-style-type: none;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(90deg, black 20%, rgba(0, 0, 0, 0), black 70%),
    url(assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    object-fit: cover;
    position: relative;
    background-position: center;
    background-size: contain;
}

.banner-image h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: large
}

.top-words {
    position: absolute;
    top: 16px;
    left: 250px;
}

.bottom-words {
    position: absolute;
    bottom: 16px;
    right: 250px;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-position {
    display: grid;
    grid-template-areas: "top-l top top-r"
                        "mid-l mid mid-r"
                        "bot-l bot bot-r";
    align-items: center;
}

.about-position p1 {
    margin-left: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.about-position p3 {
    grid-area: bot;
    padding-left: 200px;
    padding-right: 200px;
}

.about-position p2 {
    grid-area: mid;
    padding-left: 200px;
    padding-right: 200px;
}

.about-position-img1 {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 75%;
    max-height: 100%;
}

.about-position-img2 {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
}

.about-position-img1 img {
    height: 50px;
    width: 50px;
}
